@import "../../../app.scss";
.recentOrders {
  padding-top: calc(25px + (30 - 25) * ((100vw - 320px) / (1920 - 320)));
  padding-bottom: calc(25px + (30 - 25) * ((100vw - 320px) / (1920 - 320)));
  .recentWrap {
    position: relative;
    background-color: $grayback-color;
    padding: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
    border-radius: 10px
      calc(37px + (65 - 37) * ((100vw - 320px) / (1920 - 320))) 10px 10px;
    h3 {
      font-weight: 700;
      line-height: 22px;
      margin-top: -2px;
      color: $white-color;
    }

    .Item {
      display: inline-block;
      border-radius: 15px;
      position: relative;
      width: 100%;
      padding: 0 10px;
      img {
        cursor: pointer;
        width: 100%;
        height: calc(120px + (80 - 50) * ((100vw - 320px) / (1920 - 320)));
        border-radius: 15px;
        object-fit: cover;
        min-width: 140px;
        filter: brightness(0.7);
      }
      p {
        position: absolute;
        left: 28px;
        color: $white-color;
        font-weight: 700;
        font-size: 16px;
        bottom: 16px;
        margin-bottom: 0;
        line-height: 1.5;
        margin-top: 0;
      }
    }
  }
}
