@import"../../../../app.scss";
.pluMinus{
    border:solid 1px $nav-color;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: $white-color;
    text-align: center;
    position: absolute;
    bottom: calc(15px + (25 - 15) * ((100vw - 320px) / (1920 - 320)));
    right: calc(15px + (25 - 15) * ((100vw - 320px) / (1920 - 320)));

    svg{
        width: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
        height: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
        cursor: pointer;
    }
    input{
        background-color: $transparent-color;
        color: $black-color;
        border: none;
        font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
        outline: none;
        width: 30px;
        text-align: center;
    }
}
@media screen and (max-width: 375px) {
    .pluMinus{
        position: relative;
        bottom: unset;
        right: unset;
        margin-top: 8px;
        display: inline-flex;
    }
} 