@import "../../../../app.scss";

.TermsConditionsPopUpMain {
	.TermsConditions {
		text-align: left !important;
		margin-bottom: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
		margin-left: -10px;
		input {
			padding: 0;
			height: initial;
			width: initial;
			margin-bottom: 0;
			display: none;
			cursor: pointer;
			&:checked ~ .check::after {
				content: "";
				display: block;
				position: absolute;
				top: 0px;
				left: 9px;
				width: 6px;
				height: 14px;
				border: solid $orange-color;
				border-width: 0 2px 2px 0;
				transform: rotate(45deg);
			}
		}
		.check {
			position: relative;
			cursor: pointer;
			font-size: 14px;
			color: inherit;
			margin-top: 0;
			margin-left: 10px;

			&::before {
				content: "";
				-webkit-appearance: none;
				background-color: $white-color;
				border: solid $orange-color;
				padding: 10px;
				border-radius: 5px;
				display: inline-block;
				position: relative;
				vertical-align: middle;
				cursor: pointer;
				margin-right: 5px;
			}
		}
		.TandCText {
			font-size: 16px;
			text-decoration: underline;
			cursor: pointer;
			color: $white-color;
		}
	}
	.TermsAndConditionsContent {
		padding: 15px 15px;
		.TitleSection {
			h2 {
				font-size: 24px !important;
				color: $black-color !important;
				font-weight: 500 !important;
				margin-left: 10px;
			}
		}
		.ContentWrap {
			margin: 0 auto;
			background-color: $white-color;
			margin-bottom: 20px;
			padding: 10px;
			text-align: center;
			border-radius: 20px;
			.TextWrap {
				margin: 0 auto;
				text-align: left;
				p {
					font-size: 16px;
					font-weight: 500;
				}
				span {
					color: $black-color;
				}
				h2 {
					font-size: 20px;
					text-decoration: unset !important;
					font-weight: 600;
					padding-bottom: 10px;
					border-bottom: 1px solid $black-color;
				}
				h3 {
					font-size: 18px;
					font-weight: 600;
				}
				a {
					color: $orange-color;
				}
			}
		}
	}
}
