@import "../../../app.scss";

.PopupMain {
	background-color: $input-focus;
	max-width: 600px;
	border-radius: 15px 15px 0px 0px;
	margin: 0 auto;
	// position: fixed;
	bottom: 0;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;

	.PopupBody {
		height: 500px;
		padding: 0 calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
		-webkit-box-flex: 1;
		flex-grow: 1;
		padding: 1rem 1rem;
		overflow-y: scroll;
		&::-webkit-scrollbar {
			display: none;
		}

		.productDetail {
			img {
				width: 100%;
				max-height: 350px;
				border-radius: 15px;
			}

			.productlist {
				.ProductName {
					font-weight: 700;
					font-size: calc(20px + (19 - 17) * ((100vw - 320px) / (1920 - 320))) !important;
				}
				h5{
					font-size: 14px;
					margin: 0;
					margin-top: 5px;
					margin-bottom: 7px;
				}

				.ProductPrice {
					font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320))) !important;
				}
			}
		}

		.PackSize {
			margin-top: 30px;

			.packMain {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-template-rows: 1fr;
				grid-column-gap: 10px;
				grid-row-gap: 0px;

				.size {
					background-color: $white-color;
					text-align: left;
					padding: calc(10px + (13 - 10) * ((100vw - 320px) / (1920 - 320)));
					border: 1px solid $orange-color;
					border-radius: 4px;
					-webkit-transition: all 0.4s;
					transition: all 0.4s;
					max-height: 200px;
					margin-top: 5px;

					.sizeText {
						font-weight: 600;
						font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320))) !important;
					}
				}
				.sizeSelect {
					background-color: $orange-color;
					text-align: left;
					padding: calc(10px + (13 - 10) * ((100vw - 320px) / (1920 - 320)));
					border: 1px solid $orange-color;
					border-radius: 4px;
					-webkit-transition: all 0.4s;
					transition: all 0.4s;
					max-height: 200px;
					margin-top: 5px;

					.sizeText {
						font-weight: 600;
						font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320))) !important;
					}
				}
			}
		}

		h1 {
			color: $black-color;
			font-weight: 600;
			font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320))) !important;
			margin: unset;
			padding-top: 20px;
			padding-bottom: 10px;
		}

		.addonsFirst {
			background-color: $topping-color;
			padding: 1px 8px 10px !important;
			border-radius: 5px;
			.addons {
				display: flex;
				justify-content: space-between;
				margin-top: 10px;
				p {
					margin: 0;
				}
				.price {
					display: flex;
					align-items: center;
				}
				input {
					padding: 0;
					height: initial;
					width: initial;
					margin-bottom: 0;
					display: none;
					cursor: pointer;
					&:checked~.check::after {
						content: "";
						display: block;
						position: absolute;
						top: 2px;
						left: 9px;
						width: 6px;
						height: 14px;
						border: solid $orange-color;
						border-width: 0 2px 2px 0;
						transform: rotate(45deg);
					}
				}
				.check {
					position: relative;
					cursor: pointer;
					font-size: 14px;
					color: inherit;
					margin-top: 0;
					margin-left: 10px;

					&::before {
						content: "";
						-webkit-appearance: none;
						background-color: transparent;
						border: solid $orange-color;
						padding: 10px;
						border-radius: 5px;
						display: inline-block;
						position: relative;
						vertical-align: middle;
						cursor: pointer;
						margin-right: 5px;
					}
				}
			}
		}

		.addonsSecond {
			background-color: $addon-color;
			padding: 1px 8px 10px !important;
			border-radius: 5px;

			.addons {
				display: flex;
				justify-content: space-between;
				margin-top: 10px;

				p {
					margin: 0;
				}

				.price {
					display: flex;
					align-items: center;
					gap: 10px;
				}

				input {
					padding: 0;
					height: initial;
					width: initial;
					margin-bottom: 0;
					display: none;
					cursor: pointer;

					&:checked ~ .radio::after {
						opacity: 1;
						transform: scale(1);
						content: "";
						width: 12px;
						height: 12px;
						background: $orange-color;
						position: absolute;
						top: 4px;
						left: 4px;
						border-radius: 100%;
						transition: all 0.2s ease;
					}

				}

				.radio {
					position: relative;
					padding-left: 28px;
					cursor: pointer;
					line-height: 20px;
					display: inline-block;
					color: #666;
					margin-top: -22px;
					&::before {
						content: "";
						position: absolute;
						left: 0;
						top: 0;
						width: 18px;
						height: 18px;
						border: 1px solid $orange-color;
						border-radius: 100%;
						background: $white-color;
					}
				}

			}
		}

		.inputBox {
			margin-bottom: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
			position: relative;

			.Nots {
				width: -webkit-fill-available;
				width:-moz-available;
				margin: 0 auto;
				line-height: 28px;
				padding: calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320)));
				padding-right: calc(44px + (47 - 44) * ((100vw - 320px) / (1920 - 320)));
				padding-left: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
				font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
				border: 1px solid $border-color;
				background-color: transparent;
				color: $black-color;
				max-height: 70px;
				min-height: 70px;
			}
		}

		.offcanvasFooter {
			padding: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));

			.btnBox {
				display: flex;
				-webkit-box-align: center;
				align-items: center;
				gap: 17px;

				.pluMinus {
					border: solid 1px $nav-color;
					border-radius: 5px;
					padding: 10px;
					display: flex;
					-webkit-box-align: center;
					align-items: center;
					background-color: $white-color;
					text-align: center;
					padding: calc(8px + (14 - 8) * ((100vw - 320px) / (1920 - 320))) calc(20px + (34 - 20) * ((100vw - 320px) / (1920 - 320)));

					svg {
						width: calc(16px + (20 - 20) * ((100vw - 320px) / (1920 - 320)));
						height: calc(16px + (20 - 20) * ((100vw - 320px) / (1920 - 320)));
						cursor: pointer;
					}

					input {
						background-color: $transparent-color;
						color: $black-color;
						border: none;
						font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
						outline: none;
						width: 30px;
						text-align: center;
					}
				}

				.btnSolid {
					-webkit-box-flex: 1;
					flex: 1 1 auto;
					font-weight: 600;
					border: 1px solid $orange-color;
					cursor: pointer;
					padding: calc(8px + (14 - 8) * ((100vw - 320px) / (1920 - 320))) calc(20px + (34 - 20) * ((100vw - 320px) / (1920 - 320)));
					background-color: $orange-color;
					color: $white-color;
					border-radius: 5px;
					line-height: 21px;
					display: inline-block;
					font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320))) !important;
				}
			}
		}
	}
}