@import "../../app.scss";
.loadingWrapper {
  text-align: center;
  background-color: $orange-color;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0 !important;
  padding-top: 0 !important;

  .contentWrap {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    .logo {
      width: calc(130px + (150 - 130) * ((100vw - 320px) / (1920 - 320)));
      height: auto;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: calc(25px + (30 - 25) * ((100vw - 320px) / (1920 - 320)));
    }
  }
}
.splashLogo {
  height: 100vh;
  padding-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  img {
    max-width: 450px !important;
    width: 100% !important;
  }
}
