@import "../../../../../app.scss";
.overlay {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 370ms;
	z-index: 999;
}
.popup {
	margin: 20px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 45%;
	position: relative;
	transition: all 5s ease-in-out;
   @include tablet {
		width: 65%;
	}
}

.popup h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
	position: absolute;
	top: 10px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px !important;
	font-weight: bold;
	text-decoration: none;
	color: $black-color !important;
	text-decoration: unset !important;
}
.popup .close:hover {
	cursor: pointer;
	color: #000;
}
.popup .content {
	max-height: 30%;
	overflow: auto;
}

@media screen and (max-width: 700px) {
	.popup {
		width: 70%;
	}
}
