@import "../../../../app.scss";
.bgPatternWrap {
  .bgPattern {
    background-color: $orange-color;
  }
  .bgSize {
    &::before {
      padding-top: 20%;
    }
  }
}
.ratio2_1 {
  .bgSize {
    &::before {
      // padding-top: 50%;
      content: "";
      display: block;
    }
  }
}
