@import "../../../app.scss";
@import "../../../app.scss";

.contacheader {
	padding: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320))) 15px;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;

	.logoWrap {
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		gap: calc(7px + (12 - 7) * ((100vw - 320px) / (1920 - 320)));

		h1 {
			color: $white-color;
			font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320))) !important;
		}

		span {
			font-weight: 200;
			font-size: 20px;
			cursor: pointer;
			display: flex;
			border: 3px solid $black-color;
			border-radius: 10px;

			svg {
				stroke-width: 2px !important;
			}
		}
	}

	.homeIcon {
		display: flex;
		align-items: center;
		-webkit-box-align: center;
		gap: calc(6px + (10 - 6) * ((100vw - 320px) / (1920 - 320)));

		a {
			font-size: 22px;
			color: $black-color;
		}
	}
}

.editProfilemain {
	padding: 0px 15px;

	.header {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		background-color: $primary-color;

		.logoWrapHeader {
			display: flex;
			align-items: center;
		}

		.logoWrap {
			display: -webkit-box;
			display: -ms-flexbox;
			/* display: none; */
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			gap: calc(7px + (12 - 7) * ((100vw - 320px) / (1920 - 320)));

			.logoW {
				display: none;
			}

			.logo {
				height: 50px;
			}
		}
	}

	.customFrom {
		text-align: center;

		h1 {
			margin-bottom: calc(6px + (10 - 6) * ((100vw - 320px) / (1920 - 320)));
			text-align: left;
			color: $white-color;
			font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320))) !important;
			font-weight: 600;
			padding-top: 1rem !important
		}

		.inputBox {
			margin-bottom: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
			position: relative;

			input {
				line-height: 28px;
				padding: calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320)));
				padding-left: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
				width: -webkit-fill-available;
				width:-moz-available;
				font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
				border: 1px solid $border-color;
				background-color: $white-color;
				color: $black-color;
				border-radius: 0.25rem;
			}

			svg {
				font-size: calc(22px + (28 - 22) * ((100vw - 320px) / (1920 - 320)));
				font-weight: 100;
				position: absolute;
				right: 10px;
				top: 50%;
				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
			}
		}

		.signINbtn {
			width: 100%;
			margin-bottom: 22px;
			font-weight: 600;
			font-size: calc(17px + (19 - 17) * ((100vw - 320px) / (1920 - 320)));
			font-family: inherit;
			padding: calc(8px + (14 - 8) * ((100vw - 320px) / (1920 - 320))) calc(20px + (34 - 20) * ((100vw - 320px) / (1920 - 320)));
			background-color: $black-color;
			color: $white-color;
			border-radius: 5px;
			line-height: 21px;
			border: unset;
		}
	}
}

.errorText {
	margin-top: -10px;
	text-align: left;
	color: $white-color;
	font-size: 12px;
}